<script setup lang="ts">
import { Swiper, SwiperSlide } from 'swiper/vue';
import { EffectFade } from "swiper";
import { Scrollbar } from "swiper";
// Import Swiper styles
import "swiper/css";
import "swiper/css/effect-fade";
import "swiper/css/scrollbar";
interface Props{
  banners: {
    imageUrl: string;
    song: null;
    targetId: number;
    targetType: number;
    titleColor: string;
    typeTitle: string;
    url: string | null;
    video: string | null;
  }[]
}
defineProps<Props>()
</script>

<template>
  <div class="mx-2 mb-4 rounded-md overflow-hidden">
    <swiper :spaceBetween="30" :effect="'fade'" :scrollbar="{ hide: true }" :modules="[EffectFade, Scrollbar]" class="px-2">
      <swiper-slide v-for="item in banners" :key="item.targetId">
        <img :src="item.imageUrl" />
      </swiper-slide>
    </swiper>
  </div>
</template>