<script setup lang="ts">
import BTab from './BTab.vue'
import { ref, computed } from 'vue'
import { useRouter } from 'vue-router';
import NavBtn from './NavBtn.vue'
const router = useRouter()
const navbarRef = ref<HTMLElement | null>(null)
//返回导航栏的高度
const height = computed(()=>{
  return navbarRef.value?.offsetHeight + 'px'
})
const showTab = ref(false)
</script>

<template>
  <header class="w-screen h-12 px-4 fixed top-0 left-0 rounded-b-md flex justify-between items-center shadow-gray-200"
    ref="navbarRef">
    <NavBtn @click="router.go(-1)" wink />
    <!-- 路由切换层 -->
    <BTab class="translate-y-2" :show="showTab">
      <template #default>
        <button class="w-8 h-2 bg-gray-200 rounded-md transition-all duration-300 focus:bg-red-500" @focus="showTab = true" @blur="showTab = false"></button>
      </template>
      <template #content>
        <div class="flex ">
          <button class=" mr-2" @click="router.push('/')">
            首页
          </button>
          <button class="" @click="router.push('/setting')">
            设置
          </button>
        </div>
      </template>
    </BTab>
    <NavBtn @click="router.push('/setting')" />
  </header>
  <!-- 占位块 -->
  <div :style="{ height }"></div>
</template>
