<script setup lang="ts">
import { ref, watch, onMounted } from 'vue' 
import { useRouter } from 'vue-router';
import { watchDebounced } from '@vueuse/core'
import { Search, SearchDefault, SearchSuggest } from '@/api/netease/search'
import { onClickOutside } from '@vueuse/core'

interface Iprops{
  placeholder: string 
  to?: string
  cancel?: boolean
  autoFocus?:boolean
}
const props = defineProps<Iprops>()
const emits  = defineEmits(['updata:result'])
const router = useRouter()
const isFocus = ref(false)
function focus(){
  //组件props有to就跳转页面
  props.to && router.push(props.to)
  isFocus.value = true
}
function blur(){
  isFocus.value = false
}
const keywords = ref('')
const suggest = ref<SearchSuggest.IAllMatch[]>([])
const isSuggest = ref(false)
//自动获取焦点
const inputRef = ref<HTMLElement | null>(null)
onMounted(()=>{
  props.autoFocus && inputRef.value?.focus()
})


/*节流监听关键字 停止输入后一段时间请求接口获取搜索建议 */
watchDebounced(keywords,async ()=>{
  if (keywords.value.length){
    const { result } = await SearchSuggest({ keywords: keywords.value, type: 'mobile' }) || {}
    suggest.value = result?.allMatch || []
    isSuggest.value = true
  }
}, { debounce: 1000, maxWait: 5000 })

/*监听关键字 为空时清空搜索建议 */
watch(keywords,()=>{
  if (!keywords.value.length)
    suggest.value.length = 0
})

/* 获取默认关键字 */
const defaultKeyword = ref<SearchDefault.IResData>()
SearchDefault().then(res=>{
  defaultKeyword.value = res.data
}) 

/* 搜索 */
const searchType: Search.types = 1018
async function search(){
  suggest.value.length = 0
  if (!keywords.value) keywords.value = defaultKeyword.value?.realkeyword || ''
  const { result } = await Search({ keywords: keywords.value, type: searchType })
  emits('updata:result', result || {})
}


/* 点击搜索建议外部元素关闭 */
const suggestRef = ref<HTMLElement | null>(null)
onClickOutside(suggestRef, (event) => {
  isSuggest.value = false
})

</script>

<template>
  <div class="w-full h-12 p-2 flex">
    <input type="search" :placeholder="defaultKeyword?.showKeyword || placeholder"
      class="h-full flex-1 outline-none px-2 rounded-md" @focus="focus" @blur="blur" v-model="keywords" ref="inputRef">
    <span @click="search">sousuo</span>
    <button v-if="cancel" class="h-full px-2 text-gray-500" @click="router.go(-1)">取消</button>
  </div>
  <!-- 搜索建议 -->
  <ul class="box-border bg-white p-2  rounded-lg shadow-md fixed top-12 left-2 right-2"
      v-if="suggest.length && isSuggest" ref="suggestRef">
    <li class="text-gray-800" v-for="item in suggest" :key="item.keyword" @click="keywords = item.keyword">
      {{ item.keyword }}
    </li>
  </ul>
</template>