<script setup lang="ts">
import { ref, computed, watch } from 'vue'
defineProps({
  show:{
    type: Boolean,
    default: false
  }
})
const BTab = ref<HTMLElement | null>(null)
const top = computed<string>(()=>{
  return `{ defaultRef.value?.offsetHeight }px`
})
</script>

<template>
  <div class="relative" ref="BTab">
    <slot name="default"></slot>
    <!-- 弹出内容 -->
    <div class="absolute left-1/2 -translate-x-1/2 z-50" :style="{top}" style="white-space: nowrap;" v-show="show">
      <div class="mt-2 bg-white p-2 rounded-md">
        <slot name="content"></slot>
      </div>
    </div>
  </div>
</template>
