<script setup lang="ts">
defineProps({
  wink:{
    type: Boolean,
    default: false
  }
})
</script>

<template>
  <!-- 操作图标 -->
  <button class="w-10 h-6 bg-gray-200 ring-2 ring-gray-300 rounded-lg box-border select-none
               flex items-center justify-center shadow-xl" :class="{wink}">
    <div class="w-4 h-2 bg-gray-300 rounded-lg"></div>
  </button>
</template>

<style scoped>


.wink{
  animation: wink .2s;
}
@keyframes wink{
  50%{
    height: 0px;
  }
  80% {
    height: 5px;
  }
}
</style>