<script setup lang="ts">
import { ref } from 'vue'
import BNav from '@/components/BNav.vue';
import BSearch from '@/components/BSearch.vue'
import { Banner } from '@/api/netease/banner'
import BBanner from '@/components/BBanner.vue'
const bannerTypes = 'iphone' 
const banner = ref<Banner.IBanners[]>([])

/* 获取banner */
async function getBanner(){
  const { banners } = await Banner({type:bannerTypes}) || {}
  banner.value = banners || []
}
getBanner()

</script>

<template>
  <div>
    <BNav />
    <BSearch placeholder="请输入关键字" to="/search" />
    <BBanner :banners="banner" />
    home
  </div>
</template>

