<script setup lang="ts">
import { ref } from 'vue'
import { useRouter } from 'vue-router';
import { Login } from '@/api/bbk/user' 
import appStore from '@/store/appStore'
const router = useRouter()
const storeApp = appStore()
const username = ref('test')
const password = ref('123456')
async function submit(){
  console.log('submit')
  if (username.value && password.value){
    const { result } = await Login({ username: username.value, password: password.value}) || {}
    localStorage.setItem('token', JSON.stringify(result?.token))
    localStorage.setItem('userinfo', JSON.stringify(result?.userInfo))
    storeApp.token = result?.token || ''
    storeApp.userinfo = result?.userInfo || {}
    setTimeout(() => {
      router.replace('/')
    }, 1500);
  }
}
</script>

<template>
  <div class="w-full h-screen flex justify-center items-center">
    <div class="w-[300px] px-4 py-6 bg-white rounded-md shadow-md -translate-y-24">
      <div class="py-2 flex items-center">
        <label class="mr-2" for="name">账号</label>
        <input type="text" placeholder="请输入账号" class="px-2 outline-none flex-1" v-model="username" id="name">
      </div>
      <div class="py-2 flex items-center">
        <label class="mr-2" for="password">密码</label>
        <input type="password" placeholder="请输入密码" class="px-2 outline-none flex-1" v-model="password" id="password">
      </div>
      <button class="w-full mt-4 py-2 bg-red-50 rounded-md" @click="submit">
        登录
      </button>
    </div>
  </div>
</template>