<script setup lang="ts">
import { ref, computed } from 'vue' 
import BSearch from '@/components/BSearch.vue'
import type { Search } from '@/api/netease/search'
const searchRes = ref<Search.IResData>({})
function getSearch(result: Search.IResData){
  searchRes.value = result
}
//歌手
const artist = computed(()=>{
  return searchRes.value.artist
}) 
//单曲
const song = computed(() => {
  return searchRes.value.song
}) 
</script>

<template>
  <div>
    <BSearch placeholder="请输入关键字" cancel autoFocus @updata:result="getSearch" />
    <!-- 歌手 -->
    <ul class="w-full px-2 flex flex-nowrap overflow-x-auto">
      <li class="flex justify-center items-center flex-col" v-for="item in artist?.artists" :key="item.id">
        <img :src="item.picUrl" :alt="item.name" class="w-16 h-16 object-cover rounded-sm">
        <span class="text-sm">
          {{item.name}}
        </span>
      </li>
    </ul>
    <!-- 单曲 -->
    <ul class="w-full px-2">
      <li v-for="item in song?.songs">
        {{item.name}}
      </li>
    </ul>
  </div>
</template>

